@font-face {
  font-family: 'Inter';
  /* Use a relative path to the local font file in `url()`. */
  src: url('./Inter-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
